<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} CIQUAL {% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}" />
    <link rel="icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        {% stylesheets "@bootstrap_css" "@jquery_UI_css" "@jquery_UI_theme_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body class="" >

    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>


{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' '@jquery_UI' '@FrontOfficeBundle/Resources/public/js/manager.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}


</body>
</html>