{% extends "FrontOfficeBundle:Layout:layout_front_office.html.twig" %}

{% block body %}
    <div class="container">
        <div class="table-responsive" align="center" >
            {##}
            <div class="form-group">
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Rechercher" style="width: 400px">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                        <a href="{{ path('search_ingredient') }}" style="float: right; font-size: 19px">Effectuer une nouvelle recherche</a>
                    </div>
                </form>

            <table id="list-table" class="table table-bordered table-inverse" style="background-color: cyan">
                <thead>
                <tr>
                    <th><h4 align="center">Ingredient</h4></th>
                    <th><h4 align="center">Composition</h4></th>
                    <th><h4 align="center">Vitamine</h4></th>
                    <th><h4 align="center">Poids</h4></th>
                </tr>
                </thead>
                <tbody id="tbody">
                {% for nutrient in pagination %}
                    <tr>
                        <td><h4 align="center">{{ nutrient.ingredient }}</h4></td>
                        <td><h4 align="center">{{ nutrient.composition }}</h4></td>
                        <td><h4 align="center">{{ nutrient.energy }}</h4></td>
                        <td><h4 align="center">{{ nutrient.weight }}</h4></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" align="center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}