{% extends "FrontOfficeBundle:Layout:layout_front_office.html.twig" %}

{% block body %}
    <div class="container"  id="content" style="background-color: cyan; border-color: darkblue; margin-top: 15px">

        <div align="center"><h3>Entrer le nom d'un ingrédient et appuyer sur rechercher</h3></div>
        <div align="center">
            <form action="{{ path('list_nutrients') }}", method="post">
                <div class="ui-widget">
                    <div class="form-inline ">
                        <label for="inputsearch">Ingredient: </label>
                        <input id="inputsearch" class="form-control" type="search" name="_inputsearch" placeholder="Rechercher un ingredient " style="min-width: 600px">
                    </div>
                </div> <br>
                <div style="margin-bottom: 10px">
                    <button type="submit" class="btn btn-default">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}